spec: &spec
  x-sub-request-filters:
    - type: default
      name: http
      options:
        allow:
          - pattern: /^https?:\/\//
            forward_headers:
              user-agent: true
  title: The Change Propagation root
  paths:
<%- if env == 'production' %>
    /{api:sys}/limit:
      x-modules:
        - path: src/sys/rate_limiter.js
          options:
            redis: &redis_config
              path: <%= redis_path %>
              password: <%= redis_pass if redis_pass else '' %>
            limiters:
              blacklist:
                # First, allow no more then 100 errors per week
                # The precision parameter controls the step a sliding window moves by
                - interval: 604800
                  limit: 100
                  precision: 86400
                # Secondly to avoid bursts in case of outages, don't allow more then 10
                # errors per hour
                - interval: 3600
                  limit: 10
    /{api:sys}/dedupe:
      x-modules:
        - path: src/sys/deduplicator.js
          options:
            redis: *redis_config
<%- endif %>
    /{api:sys}/purge:
      x-modules:
        - path: src/sys/purge.js
          options:
            host: <%= purge_host %>
            port: <%= purge_port %>
    /{api:sys}/links:
      x-modules:
        - path: src/sys/dep_updates.js
          options:
            templates:
              mw_api:
                uri: <%= mwapi_uri %>
                headers:
                  host: '{{message.meta.domain}}'
                body:
                  formatversion: 2
<%- if env == 'beta' %>
    /sys/ores:
      x-modules:
        - path: src/sys/ores_updates.js
          options:
            ores_precache_uris:
<%- for ores_uri in ores_uris %>
              - <%= ores_uri %>/v3/precache
<%- endfor  %>
            event_service_uri: <%= event_service_uri %>
<%- endif %>
    /{api:sys}/queue:
      x-modules:
        - path: src/sys/kafka.js
          options:
            metadata_broker_list: <%= broker_list %>
            dc_name: <%= site %>
            consumer:
              # JobQueue jobs might sent messages larget then 1 Meg,
              # so we increase the max message size in kafka and have to
              # ajust the consumers accordingly.
              fetch.message.max.bytes: <%= kafka_max_bytes %>
              # Silence noisy connection reaper logging
              # https://github.com/Blizzard/node-rdkafka/issues/326
              # https://github.com/edenhill/librdkafka/issues/768#issuecomment-246302856
              log.connection.close: false
            producer:
              compression.codec: <%= kafka_compression_codec %>
              # Silence noisy connection reaper logging
              # https://github.com/Blizzard/node-rdkafka/issues/326
              # https://github.com/edenhill/librdkafka/issues/768#issuecomment-246302856
              log.connection.close: false
            concurrency: <%= concurrency %>
            startup_delay: 60000
            blacklist:
              # Wikipedia
              ca.wikipedia.org:
                - 'Usuari:TronaBot/log:Activitat_reversors_per_hores'
              ceb.wikipedia.org:
                - 'Gumagamit:Lsjbot/Anomalier-PRIVAT'
                - 'Gumagamit:Lsjbot/Kartrutor2'
              de.wikipedia.org:
                - '/The_Big_Bang_Theory\/Staffel/'
                - 'Wikipedia:Café'
                - 'Wikipedia:Defekte_Weblinks/Bot2015-Problem'
                - 'Wikipedia_Diskussion:Hauptseite/Schon_gewusst'
                - 'Benutzer:Anglo-Araneophilus/Almigdad_Mojalli'
                - 'Benutzer:Wartungsstube/Berlin'
                - 'Benutzer:Wartungsstube/Musik'
                - 'Benutzer:Wartungsstube/Unternehmen'
                - 'Benutzer:Wartungsstube/Schifffahrt'
                - 'Benutzer:Verum/ege'
                - 'Benutzer:Septembermorgen/Bottabelle/Französische_Kantone_N–Z'
                - 'Wikipedia:WikiProjekt_Planen_und_Bauen/Zu_überarbeitende_Artikel'
              en.wikipedia.org:
                - 'User:B-bot/Event_log'
                - 'User:DeltaQuad/UAA/Wait'
                - 'User:JamesR/AdminStats'
                - 'User:Kudpung/Dashboard'
                # Various dashboards
                - 'User:Breawycker/Wikipedia'
                - 'User:Sonia/dashboard'
                - 'User:Ocaasi/dashboard'
                - 'User:Nolelover'
                - 'User:Calmer_Waters'
                - '/User%3ARedwolf24\//'
                - 'User:Technical_13/dashboard'
                - 'Template:Cratstats'
                # Cyberbot is creating 90% of null edits
                - '/User:Cyberbot_I\//'
                - '/User:Cyberbot_II\//'
                - '/User:Cyberpower678\//'
                - '/User:Darts170Darts170\//'
                - 'صارف:Cyberbot_I/Run/Adminstats'
                - 'Defnyddiwr:Cyberbot_I/Run/Adminstats'
                - 'User:Pentjuuu!.!/sandbox'
                - 'User:AllyD/CSDlog'
                - 'User:Peter_I._Vardy/sandbox-13'
                - 'User:I_dream_of_horses/CSD_log'
                - 'User:MJ180MJ180/sandbox'
                - 'Talk:United_States_presidential_election,_2016'
                - 'Wikipedia:Reference_desk/Humanities'
                - 'Wikipedia:WikiProject_Deletion_sorting/People'
                - 'Wikipedia:WikiProject_Deletion_sorting/United_States_of_America'
                - 'Wikipedia:Articles_for_creation/Redirects'
                - 'Wikipedia:Administrators%27_noticeboard/Incidents'
              es.wikipedia.org:
                - 'Wikipedia:Café/Archivo/Miscelánea/Actual'
              fr.wikipedia.org:
                - 'Utilisateur:ZéroBot/Log/Erreurs'
                - 'Utilisateur:SyntaxTerror/Ajouts_du_modèle_Autorité'
                - '/Utilisateur:[\s\S]+[Bb]rouillon'
                - 'Discussion_utilisateur:NaggoBot/CommonsDR'
                - 'Projet:France/Annonces/Admissibilité'
                - '/Wikipédia:Le_saviez-vous_.+/Anecdotes_proposées/'
              hy.wikipedia.org:
                - "/Մասնակից:Omicroñ\\'R/"
              it.wikipedia.org:
                - 'Utente:Effems/Sandbox7'
              nl.wikipedia.org:
                - 'Gebruiker:Eg-T2g/Kladblok'
              pt.wikipedia.org:
                - 'Wikipédia:Pedidos/Bloqueio'
              ru.wikipedia.org:
                - 'Википедия:Форум/Технический'
                - 'Портал:Герпетология'
              sv.wikipedia.org:
                - 'Användare:Lsjbot/Anomalier-PRIVAT'
                - 'Användare:Lsjbot/Namnkonflikter-PRIVAT'
              ur.wikipedia.org:
                - 'نام_مقامات_ایل'
                - 'نام_مقامات_ڈی'
                - 'نام_مقامات_جے'
                - 'نام_مقامات_جی'
                - 'نام_مقامات_ایچ'
                - 'نام_مقامات_ایم'
                - 'نام_مقامات_ایس'
              zh.wikipedia.org:
                - 'Wikipedia:互助客栈/条目探讨'
                - 'Draft:日本人工湖列表'
              # Wikisource
              pl.wikisource.org:
                - '/^Wśród_czarnych\//'
              # Wikimedia
              commons.wikimedia.org:
                - '/Commons:Featured_picture_candidates\//'
                - 'Commons:Quality_images/Subject/Places/Natural_structures'
                - '/Commons:Undeletion_requests\//'
                - '/Commons:WikiProject_Aviation\/recent_uploads\//'
                - '/\/(?:User|Benutzer):/'
            templates:


<%- if env == 'beta' %>
              # We purge for all events in this topic, messages coming from k8s
              process_resource_purge:
                enable_blacklist: false
                topic: 'resource-purge'
                # No match section here because we plan on matching *all* events in this topic
                exec:
                  method: post
                  uri: '/sys/purge/'
                  body:
                    - meta:
                        uri: '{{message.meta.uri}}'
<%- endif %>


# Number of worker processes to spawn.
# Set to 0 to run everything in a single process without clustering.
# Use 'ncpu' to run as many workers as there are CPU units
num_workers: ncpu

# Number of workers to start in parallel after the first worker.
# The first worker is always started independently. After it has completed
# its start-up, this number controls the number of workers to start in
# parallel until `num_workers` have been started. Note that setting this
# number to a too high a value might lead to high resource consumption
# (especially of CPU) during the start-up process.
startup_concurrency: 4

# Log error messages and gracefully restart a worker if v8 reports that it
# uses more heap (note: not RSS) than this many mb.
worker_heap_limit_mb: 750

# The maximum interval in ms that can pass between two beat messages
# sent by each worker to the master before it is killed
worker_heartbeat_timeout: 30000

# Logger info
logging:
  level: warn
  name: <%= log_name %>
  streams:
    - level: info
      path: <%= log_file %>
      type: file
    - type: syslog
      host: localhost
      port: <%= rsyslog_port %>
      prefix: '@cee: '
      name: node
  sampled_levels:
    trace/dedupe: 0.01

# Statsd metrics reporter
metrics:
  name: <%= metrics_name %>
  host: <%= metrics_host %>
  port: <%= metrics_port %>
  type: statsd

services:
  - name: <%= name %>
    # a relative path or the name of an npm package, if different from name
    module: hyperswitch
    # per-service config
    conf:
      cors: "*"
      port: <%= port %>
      # interface: localhost # uncomment to only listen on localhost
      # URL of the outbound proxy to use (complete with protocol)
      proxy: <%= proxy if proxy else '' %>
      # the list of domains for which not to use the proxy defined above
      # no_proxy_list:
      #   - domain1.com
      #   - domain2.org
      # the list of incoming request headers that can be logged; if left empty,
      # the following headers are allowed: cache-control, content-length,
      # content-type, if-match, user-agent, x-request-id
      # log_header_whitelist:
      #   - cache-control
      #   - content-length
      #   - content-type
      #   - if-match
      #   - user-agent
      #   - x-request-id
      user_agent: ChangePropagation/WMF
      spec: *spec
